{% extends 'base.html.twig' %}
    {% block body %}
         <div id="topmenu">
            <nav>
                <item>About</item>
                <item>Portfolio</item>
                <item>Service</item>
                <item>Contact</item>
            </nav>
         </div>
         <section class="container" id="intro">
             <div id="text-intro">
                 <div class="content">
                     <div id="text-part1">
                         <div class="letter">S</div>
                         <div id="cursor"></div>
                         <div class="letter">T</div>
                         <div class="letter">A</div>
                         <div class="letter">R</div>
                         <div class="letter">T</div>
                         <div class="letter space">_</div>
                         <div class="letter">A</div>
                         <div class="letter space">_</div>
                         <div class="letter">N</div>
                         <div class="letter">E</div>
                         <div class="letter">W</div>
                     </div>
                     <div id="text-part2">
                         <div class="letter">ADVENTURE WITH ME</div>
                     </div>
                 </div>
             </div>
             <div id="intro-gif-cont" class="logo_container">
                 {% image 'bundles/framework/images/specimages/GIF_INTRO.gif'
                    output='/images/intro.gif' %}
                    <img id="intro-gif" src="{{ asset_url }}" alt="CARASCO DESIGN"/>
                 {% endimage %}
             </div>
             <div id="waves-cont">
                 <div id="white-wave">
                     
                 </div>
             </div>
         </section>
         <section id="acc-pg1">

         </section>
         <section id="acc-pg2">

         </section>
    {% endblock %}